.editor {
  flex: 3;
}

.editor .btn:hover {
  background-color: #490773;
  color: white;
  cursor: pointer;
}

.header-section div {
  font-size: 1.2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.quill {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
